.mainWindow{
    background-color: black;
    border-radius: 15px;
    border: none;
}
.headerBar{
    background-color: darkcyan;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.stackPageOne{
    background-color: darkcyan;
    border-radius: 10px;
}
.searchTitletext{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(227, 255, 255);
    background-color: darkcyan;
    padding-top:10px;
    font-size: larger;
    font-weight: bolder;
    text-decoration:dashed;
    border:none;

}
.searchTitletext:hover{
    background-color: rgba(0, 139, 139, 0.911);
}
.titleContainers{
    padding:10px;
    animation: titleAnim 1.5s normal ;
}
@keyframes titleanim {
    from{
        border-radius: 0px;
        transform: scale(1.0);
    }
    to{
        border-radius: 15px;
        transform: scale(1.02);
        
    }
}
.titleContainers:hover{
    color: whitesmoke;
    background-color: rgba(32, 124, 124, 0.76);
    transform: scale(1.01);
    border-radius: 15px;
}
.searchBar{
    background-color: rgba(32, 124, 124, 0.623);
}